.sticky {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 50vh;
}

@media screen and (min-width: 920px) {
  .sticky {
    margin-top: 25vh;
    transform: translateY(-50%);
  }
}