.wrapper {
  display: grid;
  position: relative;
}

.background, .foreground, .animationA, .animationB, .animationC {
  grid-area: 1 / 1;
  position: relative;
}

@keyframes moveBackgroundA {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
    background-size: 100% 100%;
  }
}

@keyframes moveBackgroundB {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.animationA {
  background: linear-gradient(54deg, transparent 20%, var(--color-brand-accent) 20%, var(--color-brand-accent) 30%, transparent 30%);
  background-size: 200% 200%;
  animation: moveBackgroundA 24s linear infinite alternate; /* Adjust duration and easing */
}

.animationB {
  background: linear-gradient(54deg, transparent 40%, var(--color-brand-alt) 40%, var(--color-brand-alt) 50%, transparent 50%);
  background-size: 200% 200%;
  animation: moveBackgroundB 16s ease-in-out infinite alternate; /* Adjust duration and easing */
}

.foreground {
  padding: 80px 0px;
  min-height: 100svh;
  display: flex;
  align-content: center;
  align-items: center;
  animation: 1s ease all;
  background: linear-gradient(black 95%, transparent 95%);
}

.foreground h1, .foreground h6 {
  max-width: 720px;
}